@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #343435;
}
.sticky-aside {
  position: fixed;
  top: 72px;
  height: 100vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

ion-icon {
  font-size: 32px;
}
